<h2>Add Product</h2>
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text"
            class="form-control"
            id="name"
            name ="name"
            required
            [(ngModel)] = "product.name">
  </div>
  <div class="form-group">
    <label for="email">EMail</label>
    <input type="text"
            class="form-control"
            id="email"
            name = "email"
            [(ngModel)] = "product.email">      
  </div>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>
