<p>
  invoices works!
</p>
<hadardasim-invoice-form (invoiceAddedEvent) = "addInvoice($event)">Add Invoices</hadardasim-invoice-form> <! ex 6 class>
<hadardasim-spinner [visible]= "isLoading"></hadardasim-spinner>
<div>
    <ul class="list-group invoices">
        <li *ngFor = "let invoice of invoices" 
             [class.active]="currentInvoice == invoice"
             (click) = "select(invoice)"
             class="list-group-item">
             <hadardasim-invoice [invoice] = "invoice"
             (deleteEvent) = "deleteInvoice($event)"
             (cancelEvent) = "updateInvoice($event)"> </hadardasim-invoice> <!--for ex 5 --> <!--it was 
             (cancelEvent) = "cancel($event)" until ex 7 class it change to updateUser-->

         <ul>       <!-- use this ul for join. another file changed is users.service.ts -->
          <li *ngFor = "let title of invoice.posTitles">
            {{(title | async)?.title}}
          </li>
        </ul>  
        </li>
    </ul>
</div>
