<!--<hadardasim-user-form (userAddedEvent) = "addUser($event)">Add Users</hadardasim-user-form> <! ex 6 class>  -->
<hadardasim-spinner [visible]= "isLoading"></hadardasim-spinner>
<div>
    <ul class="list-group products">
        <li *ngFor = "let product of products" 
             [class.active]="currentProduct == product"
             (click) = "select(product)"
             class="list-group-item">
             <hadardasim-product [product] = "product"
             (deleteEvent) = "deleteProduct($event)"
             (cancelEvent) = "updateProduct($event)"> </hadardasim-product>
              <!--for ex 5 --> <!--it was 
             (cancelEvent) = "cancel($event)" until ex 7 class it change to updateUser-->
                
      <!--   <ul>       <!-- use this ul for join. another file changed is users.service.ts -->
      <!--   <li *ngFor = "let cname of product.prodCate">
                {{(cname | async)?.cname}}
          </li>
        </ul>  -->
        </li>
    </ul>
</div>
<h1> ex 4 </h1>
<hadardasim-spinner [visible]= "isLoading"></hadardasim-spinner>
<div>
    <ul class="list-group products">
        <li *ngFor = "let product of products" 
             [class.active]="currentProduct == product"
             (click) = "select(product)"
             class="list-group-item">
             <hadardasim-product [product] = "product"
             (deleteEvent) = "deleteProduct($event)"
             (cancelEvent) = "updateProduct($event)"> </hadardasim-product>
              <!--for ex 5 --> <!--it was 
             (cancelEvent) = "cancel($event)" until ex 7 class it change to updateUser-->
                
         <ul>       <!-- use this ul for join. another file changed is users.service.ts -->
         <li *ngFor = "let cname of product.prodCate">
                {{(cname | async)?.cname}}
          </li>
        </ul>  
        </li>
    </ul>
</div>

