<p>
  invoice works!
</p>
<span *ngIf = "!isEdit"> <font color=blue>Product Name:</font> {{invoice.name}},<br> <font color=blue>Amount:</font> {{invoice.amount}} </span>
<span *ngIf = "isEdit">
    Product Name: <input type = "text" [(ngModel)] = "invoice.name"   >
    Amount: <input type = "text" [(ngModel)] = "invoice.amount"   >
</span>
<button (click) = "toggelEdit()" >{{editButtonText}}</button>
<button (click) = "sendDelete()" >Delete</button>
<button *ngIf = "isEdit" (click) = "onCancel()">Cancel</button> <!-- for ex 5  -->
